
@{
    ViewBag.Title = "Index";
}
@section Scripts{

    <script src="~/MainApp/Controller/indexController.js"></script>
}
<div class="row">
    <a ui-sref="products">Products</a>
</div>
<div ui-view></div>