
@{
    ViewBag.Title = "Products";
}

@section Scripts{

    <script src="~/AngularControllers/ProductsController.js"></script>
}




<h2>Products</h2>


    <div ng-app="ProductsApp" class="container">

        
        
        
        <div ng-controller="ProductsController">
            <table class="table">
                <tr ng-repeat="p in products">
                    <td>{{p.Name}}</td> 
                </tr>

            </table>


        </div>
    </div>
