
@{
    ViewBag.Title = "ProductsList";
}




<div class="row" style="margin-top: 30px;">
    <div class="col-md-3">
        <h3>Menu</h3>
        <ul class="nav" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <br />
        <h2>ProductsList</h2>
    </div>
</div>